@import "index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $MAIN;
  padding: 0.5rem 2rem;
}

.wrap {
  min-height: 100vh;
  height: 100%;
  background-color: $GRAYE;
  padding: 8rem 2rem 2rem;
}

.content-wrap {
  padding: 2rem;
  background-color: $WHITE;
  border-radius: 0.5rem;
}

.title {
  @include flexBetween;
  margin-bottom: 2rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.btn {
  display: inline-block;
  transition: all 0.3s;
  border-radius: 0.3rem;
  padding: 0 1.2rem;
  &-type1 {
    background-color: $MAIN;
    color: $WHITE;
    border: 1px solid $MAIN;
    &:hover {
      background-color: $WHITE;
      color: $MAIN;
    }
  }
  &-type2 {
    background-color: $WHITE;
    color: $MAIN;
    border: 1px solid $MAIN;
  }
  &.large {
    min-width: 9rem;
    font-size: 1rem;
    line-height: 2.9rem;
  }
  &.medium {
    min-width: 7rem;
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
//home
.btn-box {
  display: flex;
  justify-content: space-around;
}
//popup
.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.2);
  &.open {
    display: block;
  }
  &-content {
    position: absolute;
    background: $WHITE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25rem;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  &-time {
    margin-bottom: 2.2rem;
    strong {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      margin-top: 0.6rem;
    }
  }
  &-text {
    margin-bottom: 2rem;
  }
  &-btn {
    .btns {
      button {
        &:first-child {
          margin-right: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }
  .wrap {
    padding: 7rem 1rem 2rem;
  }
  .content-wrap {
    padding: 1rem 1rem;
  }
  .title {
    margin-bottom: 1.5rem;
    h2 {
      font-size: 1.2rem;
    }
  }
}
