@import "index.scss";

.table {
  &-wrap {
    display: flex;
    padding: 2rem;
    background-color: $WHITE;
    border-radius: 0.5rem;
  }
  &-content {
    padding: 0 0 1rem;
    flex: 1;
    h3 {
      padding: 1rem 0;
      font-size: 1.1rem;
      font-weight: 500;
      border-bottom: 1px solid $GRAYE;
      text-align: center;
    }
  }

  &-lists {
    padding: 1rem;
    li {
      position: relative;
      margin-bottom: 1rem;
      padding: 1rem 2rem 1rem 1rem;
      background-color: $TIME_BOX;
      border-radius: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        span {
          display: block;
          line-height: 1.3;
          font-size: 0.9rem;
        }
      }
      button {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        cursor: pointer;
        svg {
          font-size: 1.2rem;
          color: $BUTTON_CHECKED;
        }
      }
    }
  }
}

//responsive
@media screen and (max-width: 1200px) {
  .table {
    &-wrap {
      padding: 2rem 1.2rem;
    }
    &-lists {
      padding: 1rem 0.4rem;
      li {
        padding: 0.8rem 2rem 0.8rem 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .table {
    &-wrap {
      flex-wrap: wrap;
    }
    &-content {
      padding: 0 0 1rem;
      width: 33.3333%;
      flex: initial;
      h3 {
        padding: 1rem 0;
      }
    }
    &-lists {
      padding: 1rem 0.4rem;
      li {
        padding: 1rem 2rem 1rem 1rem;
        p {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .table {
    &-content {
      width: 100%;
    }
    &-lists {
      padding: 1rem 0.4rem;
      li {
        padding: 1.2rem 2rem 1.2rem 1.2rem;
      }
    }
  }
}
